.card {
    margin: 30px 10px;
}

.card-title {
    margin-top: 10px;
    font-size: 25px;
    font-family: "Roboto-bold";
    letter-spacing: 0.5px;

}

.card-text {
    margin-top: 10px;
    width: 300px;
    font-size: 12px;
}

.card-img {
    width: 300px;
}

.btnPrice {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.price {
    margin-left: 50px;
    font-size: 20px;
}

.card-btn {
    background-color:#e83f57;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.card-btn:hover {
    background-color: #8b1728;
}

.card-btn:active {
    transform: translateY(2px);
}

@media screen and (max-width: 551px) {
    .card-img {
        width: 145px;
    }

    .card-title {
        margin-top: 10px;
        font-size: 19px;    
    }
    
    .card-text {
        margin-top: 10px;
        width: 145px;
        font-size: 10px;
    }

    .card-btn {
        font-size: 14px;
        order: 2;
    }

    .price {
        order: 1;
        margin-left: 0px;
        margin-bottom: 5px;
    }

    .btnPrice {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}